* {
	margin: 0;
	padding: 0;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 18px;
	box-sizing: border-box;
}

body {
	background: #1ddced;
	overflow-y:hidden;
}

.chatbox {
	width: 750px;
	height: 50%;
	background: #fff;
	padding: 25px;
	margin: 20px auto;
	background : white;
}

.chatlogs {
	padding: 10px;
	width : 700px;
	height: 550px;
	overflow-x: hidden;
	overflow : auto;
}


.chat {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	margin-bottom: 10px;
}


.chat .user-photo {
	width: 60px;
	height: 60px;
	background: #ccc;
	border-radius: 50%;
}

.friend .user-photo {

}

.self .user-photo {
	position : sticky;
	left : 1000px;
}

.chat .chat-message {
	width: auto;
	max-width: 300px;
	padding: 15px;
	margin: 5px 10px 0;
	border-radius: 10px;
	color: #fff;
	font-size: 20px;
}

.friend .chat-message {

	background: #d3d3d3;
}

.self .chat-message {
	margin-top : 0;
	margin-left : auto;
	margin-right : 10px;
	margin-bottom: auto;
	order: -1;

	background: #1ddced;

}

.chat-form {
	margin-top: 20px;
	display: flex;
	align-items: flex-start;
}

.chat-form textarea {

	background: #fbfbfb;
	width: 650px;
	height: 50px;
	border: 2px solid #eee;
	border-radius: 3px;
	resize: none;
	padding: 10px;
	font-size: 18px;
	color: #333;
}



.chat-form button {

	background: #1ddced;
	padding: 5px 15px;
	font-size: 20px;
	color: #fff;
	border: none;
	float : right;
	margin-top : 10px;
	border-radius: 10px;
	cursor: pointer;

}

.chat-form button:hover {
	opacity: 0.8;
}