body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 18px;
    background : #d3d3d3;
    margin-top: 0px;
    overflow-y: hidden;
}

input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


button {

    background-color: #3090C7;
    color: white;
    padding: 14px 20px;
    margin-top: 1%;
    border: none;
    cursor: pointer;
    width: 300px;
}

button:hover {

    opacity: 0.9;
}

.users {

    width : 20%;
    float : right;
    height : 5%;
    text-align:center;
    font-size:10px;
    margin-right : 0px;
    margin-top : 1%;
    background : white;
    color  : #3090C7;
}


.sidebar {

    float : right;
    width : 20%;
    margin-top : -20%;
    height : 80%;
    text-align : center;
    position : relative;
    overflow-y : scroll;
    overflow-x : hidden;
}


.sidebar button {

    position : sticky;
    float : left;

    height : 50px;
    max-height : 50px;
    width : 40%;
    margin-left: 20px;
    padding : 0px;


}

.topbuttons button {
    position :sticky;
    top : 0px;
    width:12.5%;
    height:5%;
}


.container {
    padding: 15px;
}


.modal {
    display: none;
    position: fixed;
    left : 0;
    top : 5%;
    width: 35%;
    height: 80%;
}

.modal-content {
    background-color: white;
    margin: 10% auto 20% auto;
    width: 80%; 
    height: 80%;
    border : 1px solid #3090C7;

}


.crop img {
    width :auto;
    height:auto;
    max-width: 400px;
    max-height: 400px;
}


.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}


@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}

.chatlabel {
    position:fixed;
    width : 50%;
    height:5%;
    top:7.5%;
    text-align : center;
    margin-left:25%;
    color : #3090C7;
}


.chatborder {
    width : 50%;
    height: 72.5%;
    position :fixed;
    top : 12.5%;
    margin-left : 25%;
    background: white;
}

.chatbox {
    width: 100%;
    height: 100%;
    background: #d3d3d3;
}

.chatlogs {
    padding: 5px;
    width : 100%;
    height: 100%;
    background : white;
    overflow-x: hidden;
    overflow : auto;
}


.chat {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    overflow-x: hidden;
    margin-bottom: 10px;
}


.chat .user-photo {
    width: 60px;
    height: 60px;
    background: #ccc;
    border-radius: 50%;
}

.chat .user-photo img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}


/* Currently un-needed */
/*.self .user-photo {
    position : sticky;
    left : 1000px;
}*/

.chat .chat-message {

    position : sticky;
    width: auto;
    max-width: 300px;
    word-wrap:break-word;
    display:inline-block;
    padding: 12.5px;
    margin: 5px 10px 0;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
}

.chat .chat-message-image {
    position : sticky;
    width: auto;
    max-width: 300px;
    word-wrap:break-word;
    display:inline-block;
    margin: 5px 10px 0;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
}

.chat-message-image img {
    display: block;
    max-width : 300px;
    max-height : 300px;
    width: auto;
    height: auto;
    border-radius:  10px;
}


.friend .chat-message {

    background: #d3d3d3;
}

.friend .chat-message-image {
    background: #d3d3d3;
}

.self .chat-message {
    margin-top : 0;
    margin-left : auto;
    margin-right : 1%;
    margin-bottom: auto;
    order: -1;
    background: #3090C7;

}

.self .chat-message-image {
    margin-top : 0;
    margin-left : auto;
    margin-right : 1%;
    margin-bottom: auto;
    order: -1;
    background: #3090C7;

}

.chat-form {
    margin-top: 20px;
    width : 100%;
    display: flex;
    align-items: flex-start;
}

.chat-form textarea {

    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 18px;
    background: #fbfbfb;
    width: 650px;
    height: 50px;
    border: 2px solid #eee;
    border-radius: 3px;
    resize: none;
    padding: 10px;
    font-size: 18px;
    color: #333;
}



.chat-form button {

    background: #1ddced;
    padding: 5px 15px;
    font-size: 20px;
    margin-left: 1%;
    color: #fff;
    border: none;
    width : 100px;
    border-radius: 10px;
    cursor: pointer;

}

.chat-form button:hover {
    opacity: 0.8;
}