body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 18px;
}

input[type=text], input[type=password] {

    width: 100%;
    padding: 12px 20px;
    margin: 15px 0px;
    box-sizing: border-box;
}


button {
    background-color: #3090C7;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.9;
}


.container {
   	width: 300px;
    margin: 0 auto;

}

h1 {
    color : #3090C7;
}
